@use "../abstracts" as *;
@use "../themes" as *;

label {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 998;

  .menu {
    position: absolute;
    right: -100px;
    top: -100px;

    width: 200px;
    height: 200px;

    border-radius: 50% 50% 50% 50%;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;

    cursor: pointer;

    @include mq(sm) {
      right: 100px;
    }
  }

  .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;

    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .hamburger:after,
  .hamburger:before {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
  }

  .hamburger:before {
    top: -10px;
  }

  .hamburger:after {
    bottom: -10px;
  }

  input {
    display: none;
  }

  input:checked+.menu {
    border-radius: 0;
  }

  input:checked+.menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  input:checked+.menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
  }

  input:checked+.menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
  }

  input:checked+.menu+ul {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  ul {
    text-align: center;
    list-style: none;
    z-index: 999;
    position: absolute;
    top: 50vh;
    left: -50vw;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    -webkit-transition: 0.25s 0s ease-in-out;
    transition: 0.25s 0s ease-in-out;
    visibility: hidden;
    font-size: map-get($sizes, size-5);

    button {
      padding: 1em 2em;
      font-size: 0.5em;
    }
  }

  a {
    margin-bottom: map-get($sizes, size-4);
    display: block;
    text-decoration: none;
  }
}