@use "../abstracts" as *;
@use "../themes" as *;
.projects {
  margin: 0;
  width: 100vw;
}
.cards {
  @include flexbox;
  @include flex-center-vert;
  @include flex-direction(column);
  flex-wrap: wrap;

  width: 100%;
  height: 100vh;
  .content {
    width: 400px;
    background-color: $primary;
    height: 500px;
  }
  img {
    width: 400px;
    height: auto;
  }
}
