<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- css file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/prr6kom.css">
    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
    <!-- code snippets -->
    <link rel="stylesheet" href="{% static 'css/atom-one-dark.min.css' %}" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>

    <title>Portfolio</title>
</head>

<body>
    <!-- <label>
        <input type="checkbox">
        <span class="menu"> <span class="hamburger"></span> </span>
        <ul>
            <li> <a href="#">About</a> </li>
            <li> <a href="#">Projects</a> </li>
            <li> <a href="#">Contact</a> </li>
            <li> <a href="#">blog</a> </li>
            <li><a href="accounts/login">login</a></li>
            <li><a href="admin/">admin</a></li>
            <button class="switch">toggle dark mode</button>

        </ul>
    </label> -->

    {% block socials %}
    {% endblock %}

    <section class="home">

        <div class="homecontent">
            <p>Hello, I'm <span>Cas Meijer</span>. <br>
                I'm a student webdeveloper</p>
            <button>view my work <i class='bx bx-right-arrow-alt'></i></button>
        </div>
    </section>
    <div class="container">
        <section class="about">
            <h2 class="titles titleblue">about me</h2>
            <div class="vscode">

                <div class="tab ">
                    <div class="tablinks" onclick="onderWerpen(event, 'personal')">
                        <i class='bx bxs-file-json'></i>personal.json
                    </div>
                    <div class="tablinks" onclick="onderWerpen(event, 'skills')">
                        <i class='bx bxs-file-json'></i>skills.json
                    </div>
                    <!-- <div class="tablinks" onclick="onderWerpen(event, '.')">
                        <i class='bx bxs-file-json'></i>.json
                    </div> -->
                    <div class="tablinks" onclick="onderWerpen(event, 'intrests')">
                        <i class='bx bxs-file-json'></i>hobby.json
                    </div>
                </div>
                <div class="content">
                    <div class="linenumber">
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                        <span>6</span>
                        <span>7</span>
                        <span>8</span>
                        <span>9</span>
                        <span>10</span>
                        <span>11</span>
                        <span>12</span>
                        <span>13</span>
                        <span>14</span>
                        <span>15</span>
                        <span>16</span>
                        <span>17</span>
                        <span>18</span>
                        <span>19</span>
                        <span>20</span>
                    </div>
                    <div class="textarea">
                        <div id="personal" class=" codecontent">
                            <pre><code  class="language-json">{
"Cas Meijer": {
    "name": {
        "firstname":"cas", 
        "lastname": "meijer"
        },
    "age": "16",
    "penis": {
    "flaccid": "2cm",
    "erect": "20cm"
    }
},

                            </code></pre>
                        </div>
                        <div id="skills" class=" codecontent">
                            <pre><code  class="language-json">"skills": {
    "coding": ["html", "css", "sass", "javascript", "php"],
    "social": ["samenwerken", "comunication"]
    }
}
                               </code> </pre>
                        </div>
                        <div id="intrests" class=" codecontent">
                            <pre><code>
                            </code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="projects">
            <h3 class="titles">project</h3>

            {% block project %}
            {% endblock %}
        </section>
    </div>
    <!-- <script src="{% static 'aos/aos.js' %}"></script> -->
    <script src="{% static 'js/app.js'%}"></script>
    <script src="{% static 'js/tabs.js'%}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>

</body>

</html>