@use "../abstracts" as *;
@use "../themes" as *;
body {
  min-height: 100vh;
  min-width: 480px;
  overflow-x: hidden;
  @include darkMode;
}
.container {
  width: 100%;
}
.titles {
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  padding-top: 0.5em;

  padding: 0.2em;
  width: max-content;
  margin: 0 auto {
    bottom: 1em;
  }
}

.lightMode {
  @include lightMode;
}
