.projects {
  margin: 0;
  width: 100vw;
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 0;
    .content {
      width: 400px;
      height: max-content;

      border-radius: 5em 5em 2em 2em;
      padding-bottom: 2em;

      img {
        width: 400px;
        border-radius: 3em 3em 0 0;
      }
    }
    h3 {
      text-align: center;
      font-family: raleway, sans-serif;
      font-weight: 600;
      font-style: normal;
    }
    p {
      font-size: 1em;
      margin: 5px;
      padding: 1.5em;
      padding-top: 0.5em;
    }
    .links {
      display: flex;
      justify-content: space-around;
      a {
        text-decoration: none;
        .button {
          padding: 0.5em 1em;
        }
      }
    }
  }
}
