$primary: #252934;
$primary-darker: #1b242f;
// primary colors lightmode
$primary-light: #d2d3db;
$primary-light-darker: #9394a5;

// secondary colors
$secondary-clr: #df00fe;
$black: black;
$white: white;
// $font-weights: (
//   "light": 300,
//   "regular": 400,
//   "medium": 500,
//   "semibold": 600,
//   "bold": 700,
// );
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
