{% extends 'index.html' %}
{% block project %}
<div class="projecthighlited">
    {% for project in project.all %}
    <div class="cards">
        <div class="projectContent">
            <!-- <img src="{{ project.image.url }}" loading="lazy" /> -->
            <div class="projectLinks">
                <i class='bx bx-folder icon mapIcon'></i>
                <div class="links">
                    <a href="https://{{ project.live_url }}"><i class='bx bx-link-external icon'></i></a>
                    <a href="{{ project.github_url }}"><i class='bx bxl-github icon'></i></a>
                </div>

            </div>
            <a href="#">
                <h3 class="projectTitle">{{project.title}}</h3>
            </a>
            <div class="projectDescription">
                <p>{{ project.txt_short }}</p>
            </div>
            <div class="projectTags"> github sass html js pyton</div>
        </div>
        <div class="backgroundimg" style="background: url('{{ project.image.url  }}');"></div>
    </div>
    {% endfor %}
</div>

{% endblock %}