{% extends 'index.html' %}
{% block project %}


<h2 class="titles">project</h2>
<div class="cards" data-aos="fade-up">
    {% for project in project.all %}
    <div class="content">
        <img src="{{ project.image.url }}" />
        <h3>{{project.title}}</h3>
        <p>{{ project.body }}</p>
        <div class="links">
            <a href="{{ project.url }}">
                <div class="button">
                    view project
                </div>
            </a>
            <a href="#" class="github">
                <div class="button">
                    link to github
                </div>
            </a>
        </div>

    </div>
    {% endfor %}

</div>
{% endblock %}