@import "dropdown.css";
:root {
  --clr-darkblue: rgb(37, 41, 52);
  --clr-darkblue-darker: rgb(27, 36, 47);
  --clr-purple: #df00fe;
  --clr-white: white;
  --clr-black: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  min-height: 100vh;
  min-width: 480px;
  overflow-x: hidden;
}
.home {
  background: url("/static/img/programingview.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homecontent p {
  font-size: 1.75em;
  color: white;
  text-shadow: 2px 2px 4px var(--clr-white);
}
.homecontent p span {
  color: var(--clr-purple);
  text-shadow: 2px 2px 4px var(--clr-purple);
}
button {
  color: white;
  width: 15em;
  height: 3em;
  font-size: 1.5em;
  border: 3px solid var(--clr-white);
  background-color: var(--clr-darkblue);
  transition: 0.4s;
}
.home button {
  margin: 0 auto;
}
.home button i {
  font-size: 24px;
  transition: 0.4s;
}

.home button:hover i {
  transform: rotate(90deg);
}
.about {
  background-color: var(--clr-white);
}
.titles {
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  padding-top: 0.5em;
  border-bottom: 0.1em solid white;
}

.about .descriptionabout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .descriptionabout .txt {
  max-width: calc(50% - 1em);
  margin: 1em;
}
.computeranimation img {
  width: 480px;
}
/* @media screen and (min-width: 480px) {
} */

@media screen and (min-width: 768px) {
  .about .descriptionabout {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .about .descriptionabout .txt {
    margin-left: 1em;
  }
  .computeranimation img {
    width: 450px;
  }
}
@media screen and (min-width: 1024px) {
  .computeranimation img {
    width: 750px;
  }
}
