@use "variables" as var;
@use "typography";

@mixin hidden {
  display: none;
  visibility: hidden;
}

@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-center {
  align-items: center;
  justify-content: center;
}

@mixin flex-direction($value) {
  @if $value ==row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
  }

  @else if $value ==column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  }

  @else if $value ==column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
  }

  @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
  }

  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flex-center-vert {
  align-items: center;
}

@mixin flex-center-horiz {
  justify-content: center;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

$media: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
  3xl: 1920px,
);

@mixin mq($breakpoint) {

  @each $breakpoints,
  $size in $media {
    @if $breakpoint==$breakpoints {
      @media screen and (max-width: $size) {
        @content;
      }
    }
  }
}