@use "variables" as *;
$raleway-font: raleway, sans-serif;
$font-style-normal: normal;
$font-style-italic: italic;

@mixin font-light {
  font-family: $raleway-font;
  font-weight: $font-weight-light;
  font-style: $font-style-normal;
}

@mixin font-regular {
  font-family: $raleway-font;
  font-weight: $font-weight-regular;
  font-style: $font-style-normal;
}
@mixin font-medium {
  font-family: $raleway-font;
  font-weight: $font-weight-medium;
  font-style: $font-style-normal;
}

@mixin font-semibold {
  font-family: $raleway-font;
  font-weight: $font-weight-semibold;
  font-style: $font-style-normal;
}
@mixin font-bold {
  font-family: $raleway-font;
  font-weight: $font-weight-bold;
  font-style: $font-style-normal;
}
@font-face {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 400;
  src: url("Cascadia.ttf") format("truetype");
  font-display: fallback;
}
